.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background: linear-gradient(90deg, #ff512f, #dd2476);
  color: white;
}
logo {
  font-weight: 700;
  font-size: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0;
}

.download-btn {
  background-color: white;
  color: #ff512f;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
